* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #000;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrapper {
	background-color: #fff;
	color: #171717;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: block;
}

#wrapper main {
	height: 100%;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#canvas-container {
	/*background-color: #0062ff;*/
	color: #fff;
	height: 100vh;
	margin-right: 10%;
	text-align: center;
}

#canvas {
	cursor: pointer;
}

#canvas-interface {
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 25px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}

#cover {
	background-color: #bebebe;
	width: 40%;
	height: 0;
	position: absolute;
	cursor: pointer;
	-webkit-transition: height 3.5s ease-out;
	-ms-transition: height 3.5s ease-out;
	-moz-transition: height 3.5s ease-out;
	-o-transition: height 3.5s ease-out;
	transition: height 3.5s ease-out;
}

.jumbotron {
	display: grid;;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	text-align: center;
}

.jumbotron-image-container {
	background-color: #565656;
	cursor: pointer;
	width: 90%;
	height: 90%;
	margin: auto;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.jumbotron-image-container:hover {
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#canvas-container {
		margin-right: 0;
	}
}